///////////////////////////////////
/////////////  border-radius  /////////////
///////////////////////////////////
$border-radius: rem(16px);
$border-radius-xs: rem(4px);
$border-radius-sm: rem(8px);
$border-radius-md: rem(12px);
$border-radius-lg: rem(16px);
$border-radius-xl: rem(32px);
$border-radius-xxl: rem(46px);
$border-radius-full: 100%;
$book-card-radius: rem(20px);

///////////////////////////////////
/////////////  color  /////////////
///////////////////////////////////
$text: #000;
$skeleton-bg: #d3d3d3;
$gray: #707070;
///////////////////////////////////
/////////////  others  /////////////
///////////////////////////////////
$base-z-index: 10;
$skeleton-linear-gradient: linear-gradient(
	90deg,
	rgb(255 255 255 / 0) 0,
	rgb(255 255 255 / 0.2) 20%,
	rgb(255 255 255 / 0.5) 60%,
	rgb(255 255 255 / 0)
);
$btn-linear-gradient: linear-gradient(
	90deg,
	hsla(333, 100%, 53%, 1) 0%,
	hsla(33, 94%, 57%, 1) 100%
);
$main-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
